<!DOCTYPE html>
<html ng-app="listaTelefonica" lang="en">
<head>
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css" media="screen" charset="utf-8">
  <style media="screen">
    .jumbotron{
      width: 400px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }
    .table{
      margin-top: 20px;
    }
    .form-control{
      margin-bottom: 5px;
    }
    .selecionado {
      background-color: yellow;
    }
    .negrito{
      font-weight: bold;
    }
  </style>
  <meta charset="UTF-8">
  <title>Lista telefônica</title>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-messages.js"></script>
  <script type="text/javascript">
    angular.module("listaTelefonica", ["ngMessages"]); <!-- esses [] apresenta todos os modulos-->
    angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
            $scope.app="Lista Telefonica";
            $scope.contatos=[
              {nome: "Pedro", telefone: "999998888", cor: "blue"},
              {nome: "Ana", telefone: "999997788", cor: "yellow"},
              {nome: "Maria", telefone: "999996688", cor: "red"}
            ];
            $scope.operadoras = [
              {nome: "Oi", codigo: 14, categoria: "Celular"},
              {nome: "Vivo", codigo: 15, categoria: "Celular"},
              {nome: "Tim", codigo: 41, categoria: "Celular"},
              {nome: "GVT", codigo: 25, categoria: "Fixo"},
              {nome: "Embratel", codigo: 21, categoria: "Fixo"}
            ];
            $scope.adicionarContato = function(contato){
              $scope.contatos.push(angular.copy(contato));
              delete $scope.contato;
              $scope.contatoForm.$setPristine();
            };
            $scope.classe1 = "selecionado";
            $scope.classe2 = "negrito";
            $scope.apagarContatos = function(contatos){
                $scope.contatos = contatos.filter(function (contato){
                    if (!contato.selecionado) return contato;
                });
            };
            $scope.isContatoSelecionado = function(contatos){
                return contatos.some(function (contato){
                  return contato.selecionado;
                })
            };
    });
  </script>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
      <h3>{{app}}</h3>
      <table class="table">
        <tr>
          <th></th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Operadora</th>
          <th></th>
        </tr>
        <tr ng-repeat="contato in contatos" ng-class="{selecionado: contato.selecionado, negrito: contato.selecionado}">
          <td><input type="checkbox" name="name" value="" ng-model="contato.selecionado"></td>
          <td>{{contato.nome}}</td>
          <td>{{contato.telefone}}</td>
          <td>{{contato.operadora.nome}}</td>
          <td><div class="" style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}">

          </div></td>
        </tr>
      </table>
      <hr>
      <form class="" name="contatoForm" action="index.html" method="post">
        <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-minlength="10" ng-required="true">
        <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/">
          <select class="form-control" name="" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
              <option value=""> Selecione uma operadora </option>
          </select>
      </form>

      <div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
        <div  ng-message="require">
          Por favor, preencha o nome!
        </div>
        <div ng-message="minlength">
          O campo nome deve ter no minimo 10 letras.
        </div>
      </div>

      <div class="alert alert-danger" ng-show="contatoForm.telefone.$error.require && contatoForm.telefone.$dirty">
        Por favor, preencha o telefone!
      </div>
      <div class="alert alert-danger" ng-show="contatoForm.telefone.$error.pattern && contatoForm.telefone.$dirty">
        O campo telefone deve ter o formato XXXXX-XXXX.
      </div>
      <button class="btn btn-primary btn-block" type="button" name="button" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid"> Adicionar Contato </button>
      <button class="btn btn-danger btn-block" type="button" name="button" ng-click="apagarContatos(contatos)" ng-disabled="!isContatoSelecionado(contatos)"> Apagar Contato </button>
    </div>
    <div style="text-align: center;">
      criado por Samuel Oliveira
    </div>
</body>
</html>
